<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
  

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: greenyellow none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: greenyellow;
    text-decoration: none;
    outline: 0;
}


.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: greenyellow none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : greenyellow;
    padding:0px;
    font-size:40px;
    border: 1px solid greenyellow;
    border-radius: 100px;
    color: greenyellow;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
 .header{
     width: 60%;
     height: 100%;
    
  
} 
</style>
<body>
    <header style="background-color:darkgrey;font-size: xx-large;height: 94px;" class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl"><h3>मतदान</h3></span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a  href ="/" class="mr-5 hover:text-gray-900">Home</a>
            <a href="/about" class="mr-5 hover:text-gray-900">About</a>
            <a href="/register"class="mr-5 hover:text-gray-900">Register</a>
            <a href="/login"class="mr-5 hover:text-gray-900">login</a>
           
          </nav>
          
        </div>
</header>
 
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
 
  <div class="aboutus-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="aboutus">
                          <h2 class="aboutus-title">About Us</h2>
                          <p class="aboutus-text">Electronic voting is often seen as a tool for making the electoral
                            process more efficient and for increasing trust in its management.
                            Properly implemented, e-voting solutions can increase the security
                            of the ballot, speed up the processing of results and make
                            voting easier. However, the challenges are considerable. If not
                            carefully planned and designed, e-voting can undermine the
                            confidence in the whole electoral process. This policy paper
                            outlines contextual factors that can influence the success of
                            e-voting solutions and highlights the importance of taking these
                            fully into account before choosing to introduce
                            new voting technolog</p>
                          
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="aboutus-banner">
                          <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <div class="feature">
                          <div class="feature-box">
                              <div class="clearfix">
                                  <div class="iconset">
                                      <span class="glyphicon glyphicon-cog icon"></span>
                                  </div>
                                  <div class="feature-content">
                                      <h4>Easy To Use</h4>
                                      <p>User should feel easy to vote</p>
                                  </div>
                              </div>
                          </div>
                          <div class="feature-box">
                              <div class="clearfix">
                                  <div class="iconset">
                                      <span class="glyphicon glyphicon-cog icon"></span>
                                  </div>
                                  <div class="feature-content">
                                      <h4>secure</h4>
                                      <p>password are bycrpt before save</p>
                                  </div>
                              </div>
                          </div>
                          <div class="feature-box">
                              <div class="clearfix">
                                  <div class="iconset">
                                      <span class="glyphicon glyphicon-cog icon"></span>
                                  </div>
                                  <div class="feature-content">
                                      <h4>Great support</h4>
                                      <p>Support friendly</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</body>
</html>